.banner {
  background-image: url("../../images/background.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white;
  padding: 350px 100px;
}

.container {
  width: 900px;
  font-size: 40px;
}
.btn {
  background-color: #1EDD88;
  color: white;
  padding: 16px 36px;
  border-radius: 45px;
}

.margin-top {
  margin-top: 50px;
}
